<?xml version="1.0" ?>
<config>
    <modules>
        <my_faq>
            <version>1.1.0</version>
        </my_faq>
    </modules>
    <!-- Code for the frontend -->
    <frontend>
        <routers>
            <myfaq>
                <use>standard</use>
                <args>
                    <module>my_faq</module>
                    <frontName>faq</frontName>
                </args>
            </myfaq>
        </routers>
        <layout>
            <updates>
                <my_faq module="my_faq">
                    <file>faq.xml</file>
                </my_faq>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <faq>
                <class>My_Faq_Model</class>
                <resourceModel>faq_resource</resourceModel>
            </faq>
            <faq_resource>
                <class>My_Faq_Model_Resource</class>
                <entities>
                    <faq>
                        <table>faq</table>
                    </faq>
                </entities>
            </faq_resource>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>my_faq</module>
                </setup>
            </faq_setup>
        </resources>
        <blocks>
            <my_faq>
                <class>My_Faq_Block</class>
            </my_faq>
        </blocks>
        <helpers>
            <my_faq>
                <class>My_Faq_Helper</class>
            </my_faq>
        </helpers>
    </global>
    <!-- Код для админки -->
    <admin>
        <routers>
            <faq>
                <use>admin</use>
                <args>
                    <module>my_faq</module>
                    <frontName>adminhelloworld</frontName>
                </args>
            </faq>
        </routers>
    </admin>
</config>