<?xml version="1.0" ?>
<config>
    <modules>
        <My_Faq>
            <version>1.1.0</version>
        </My_Faq>
    </modules>
    <!-- Code for the frontend -->
    <frontend>
        <routers>
            <myfaq>
                <use>standard</use>
                <args>
                    <module>My_Faq</module>
                    <frontName>questions</frontName>
                </args>
            </myfaq>
        </routers>
    </frontend>
    <global>
        <models>
            <faq>
                <class>My_Faq_Model</class>
                <resourceModel>faq_resource</resourceModel>
            </faq>
            <faq_resource>
                <class>My_Faq_Model_Resource</class>
                <entities>
                    <faq>
                        <table>faq</table>
                    </faq>
                </entities>
            </faq_resource>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>My_Faq</module>
                </setup>
            </faq_setup>
        </resources>
        <blocks>
            <My_Faq>
                <class>My_Faq_Block</class>
            </My_Faq>
        </blocks>
        <helpers>
            <My_Faq>
                <class>My_Faq_Helper</class>
            </My_Faq>
        </helpers>
    </global>
    <!-- Код для админки -->
    <admin>
        <routers>
            <faq>
                <use>admin</use>
                <args>
                    <module>My_Faq</module>
                    <frontName>adminhelloworld</frontName>
                </args>
            </faq>
        </routers>
    </admin>
    <layout>
        <updates>
            <faq>
                <file>faq.xml</file>
            </faq>
        </updates>
    </layout>
</config>